@page "/authenticate"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager navManager;

@attribute [Authorize]


<h1>You are authenticated</h1>

<CascadingAuthenticationState>
	<AuthorizeView>
		Hello @context.User.Identity?.Name!
	</AuthorizeView>
</CascadingAuthenticationState>

<ul class="navbar-nav">
	<li><button class="btn btn-primary" @onclick="Logout">Log out</button></li>
</ul>

@code {

	protected override async Task OnInitializedAsync()
	{

	}

	public async Task Logout()
	{
		

		navManager.NavigateTo("/");
	}
}
